<div class="section section-success">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">List of Cards</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label">Select date</label>
            </div>
            <div class="col-sm-10">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup
                           ng-model="$ctrl.datepicker.model" ng-change="$ctrl.getMeeting($ctrl.datepicker.model)"
                           is-open="$ctrl.datepicker.opened"
                           datepicker-options="$ctrl.datepicker.options" ng-required="true" close-text="Close"
                           readonly/>
                    <span class="input-group-btn" id="datespan1">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.datepicker.onOpen()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4" ng-repeat="card in $ctrl.meetingList track by $index">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-primary">{{card.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Done:</strong>
                            </div>
                            <div class="col-md-9 card-text">
                                {{card.done}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>ToDo:</strong>
                            </div>
                            <div class="col-md-9 card-text">
                                {{card.todo}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Blocker/
                                    <br>Stopper:</strong>
                            </div>
                            <div class="col-md-9 card-text">{{card.blocker}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center; margin-top: 0px;">
    <strong><a ng-link="['AddNewCard']">Add a new card</a></strong><br/>
    <strong><a ng-link="['Home']">Home</a></strong>
</div>