<div class="section section-success">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Meeting Room</h1>
            </div>
        </div>
    </div>
</div>
<div class="section ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn btn-lg btn-primary btn-custom" ng-link="['MeetingRoom']">go to meeting Room</a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn btn-lg btn-primary btn-custom" ng-link="['AddNewCard']">add meeting Card</a>
            </div>
        </div>
    </div>
</div>