<div class="section section-success">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Add meeting Card</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="inputName" class="control-label">Name</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="enter your name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Done</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" maxlength="550"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">ToDo</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Blocker/Stopper</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Meeting start</label>
                        </div>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>yyyy-mm-dd</option>
                                <option>yyyy-mm-dd</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn btn-lg btn-primary btn-custom">add Card</a>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center; margin-top: 0px;">
    <strong><a ng-link="['Home']">home</a></strong>
</div>